<!--<nav class="nav justify-content-between align-content-center fs-4">-->
<!--  <p>読んだ本</p>-->
<!--  <p>一覧</p>-->

<!--  <mat-toolbar>-->
<!--    <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <span class="example-spacer"></span>-->
<!--    <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--    <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>-->
<!--      <mat-icon>share</mat-icon>-->
<!--    </button>-->
<!--  </mat-toolbar>-->
<!--</nav>-->
<mat-toolbar class="nav justify-content-between align-content-center fs-4">
  <span>読んだ本</span>
  <span>一覧
  </span>
</mat-toolbar>
