<mat-card class="card">
  <h1 class="card-title">書籍登録</h1>
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>書籍名</mat-label>
      <input [(ngModel)]="book.name" matInput name="name" placeholder="書籍名" type="text">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>あらすじ</mat-label>
      <textarea [(ngModel)]="book.detail" matInput name="detail" placeholder="あらすじ"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-width">
      <mat-label>評価点</mat-label>
      <input [(ngModel)]="book.evaluation" matInput name="evaluation" placeholder="評価点" required type="text">
    </mat-form-field>

    <mat-form-field style="width: 40%">
      <mat-label>ジャンル</mat-label>
      <mat-select [formControl]="genres" multiple>
        <mat-select-trigger>
          {{ genres.value?.[0] || '' }}
          @if ((genres.value?.length || 0) > 1) {
            <span class="additional-selection">
          (+{{ (genres.value?.length || 0) - 1 }} {{ genres.value?.length === 2 ? 'other' : 'others' }})
        </span>
          }
        </mat-select-trigger>
        @for (genre of genreList; track genre) {
          <mat-option [value]="genre">{{ genre }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-card-actions align="end">
      <button (click)="addBook()" class="btn btn-primary" type="button">追加</button>
    </mat-card-actions>
  </form>
</mat-card>
