<mat-card class="card">
  <h1 class="card-title">書籍登録</h1>
  <form #bookForm="ngForm">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>書籍名</mat-label>
      <input [(ngModel)]="book.name" matInput name="name" placeholder="書籍名" required type="text">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>あらすじ</mat-label>
      <textarea [(ngModel)]="book.detail" matInput name="detail" placeholder="あらすじ" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-width">
      <mat-label>評価点</mat-label>
      <input [(ngModel)]="book.evaluation" matInput name="evaluation" placeholder="評価点" required type="text">
    </mat-form-field>

    <mat-form-field style="width: 40%">
      <mat-label>ジャンル</mat-label>
      <mat-select [(ngModel)]="book.genreList" multiple name="genreList" required>
        <mat-select-trigger>
          {{ bookForm.value?.[0] || '' }}
          @if ((book.genreList?.length || 0) > 1) {
            <span class="additional-selection">
          (+{{ (book.genreList?.length || 0) - 1 }} {{ book.genreList?.length === 2 ? 'other' : 'others' }})
        </span>
          }
        </mat-select-trigger>
        @for (genre of genreList; track genre) {
          <mat-option [value]="genre">{{ genre }}</mat-option>
        }
      </mat-select>

      <div *ngIf="book.genreList?.length === 0 && bookForm.submitted" class="error">ジャンルを1つ以上選んでください
      </div>
    </mat-form-field>

    <mat-card-actions align="end">
      <button (click)="addBook()" [disabled]="!bookForm.valid" class="btn btn-primary" type="submit">追加</button>
    </mat-card-actions>
  </form>
</mat-card>
