<mat-card class="card">
  <h1 class="card-title">書籍登録</h1>
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>書籍名</mat-label>
      <input matInput placeholder="書籍名">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>あらすじ</mat-label>
      <textarea matInput placeholder="あらすじ"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-width">
      <mat-label>評価点</mat-label>
      <input matInput placeholder="評価点">
    </mat-form-field>

    <mat-card-actions align="end">
      <button class="btn btn-primary" type="submit">追加</button>
    </mat-card-actions>
  </form>
</mat-card>
